$color-primary-pink: #FF6B6B ;
$color-primary-bronze: #A44200;
$color-primary-lightblue: #11B5E4;
$color-primary-orange: #FF570A;
$color-primary-lightyellow: #FDFCDC;
$color-primary-purple: #AA4586;
$color-primary-grey: #E0E0E2;