header {
    background-color: rgb(255, 0, 183);
    h2 {
        color: $color-primary-orange;
        font-size: 45px;
        transform: rotate(35deg);
        text-shadow: (0px 10px purple);
    }
}